{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'filmes/css/melhores2020.css' %}">
{% endblock %}
{% block 'title' %} Melhores de 2022 {% endblock %}

{% block 'body' %}

<div class="card" style= "width: 40%; margin-left: 28%; margin-top: 2%;">
  <div class="card-body">
    <h5 class="card-title">Contagem de Indicações</h5>
    <ul>
      <li><strong>Bastardos Inglorios: 17</strong></li>
      <li><strong>The Batman(HBO Max): 16</strong></li>
      <li><strong>X: A Marca da Morte: 15</strong></li>
      <li><strong>Homem do Norte: 15</strong></li>
      <li><strong>Tudo em Todo Lugar ao Mesmo Tempo: 14</strong></li>
      <li><strong>Os Oitos Odiados: 14</strong></li>
      <li><strong>La La Land: Cantando Estacoes(HBO Max): 13</strong></li>
      <li><strong>O Telefone Preto: 12</strong></li>
      <li><strong>Drive: 11</strong></li>
      <li><strong>Club da Luta: 11</strong></li>
      <li><strong>A Garota do Trem: 10</strong></li>
      <li><strong>Possessor(HBO Max): 9</strong></li>
      <li><strong>Blade Runner 2049(HBO Max): 8</strong></li>
      <li><strong>Animais Noturnos: 8</strong></li>
      <li><strong>Agente Oculto(Netflix): 7</strong></li>
      <li><strong>Suspiria: A Dança da Morte: 6</strong></li>
      <li><strong>A babá: 5</strong></li>
      <li><strong>Homem Aranha: Sem Volta para Casa(Sony/Marvel): 5</strong></li>  
      <li><strong>boa Noite, Mamãe: 4</strong></li>
      <li><strong>Doutor Estanho 2: No Multiverso da Loucura: 4</strong></li>
    </ul>
  </div>
</div>

<div class="container mt-lg-5">

    <div class="card" style="margin-bottom: 1%; margin-left: 2%; width: 95%;">
     <div class="card-header">
       2022 - Indicados
     </div>
     <div class="card-body">
       <blockquote class="blockquote mb-0">
         <p>Categoria 1 - Principal</p>
         <footer class="blockquote-footer">
           São Elas: Filme do Ano, Filme, Diretor, Ator, Atriz, 
           Ator Coadjuvante, Atriz Coadjuvante, Vilão
         </footer>
       </blockquote>
     </div>
   </div>


   <!-- categoria 1 - filme do ano -->

   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Filme do Ano 2022</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Todo em Tudo Lugar Ao Mesmo Tempo</i></p></li>
        <li><p><i>Homem do Norte</i></p></li>
        <li><p><i>O Telefone Preto</i></p></li>
        <li><p><i>The Batman</i></p></li>
        <li><p><i>X: A Marca da Morte</i></p></li>
      </ul>
    </div>
  </div>

  <!-- categoria 1 - melhor filme -->

   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Filme</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Todo em Tudo Lugar Ao Mesmo Tempo</i></p></li>
        <li><p><i>Drive</i></p></li>
        <li><p><i> La La Land: Cantando Estaçoes </i></p></li>
        <li><p><i> Os Oito Odiados </i></p></li>
        <li><p><i> Club da Luta</i></p></li>
        <li><p><i> Bastardos Inglorios</i></p></li>
        <li><p><i> Homem do Norte</i></p></li>
        <li><p><i> X: A Marca da Morte</i></p></li>
        <li><p><i> A Garota do Trem</i></p></li>
        <li><p><i>Blade Runner 2049</i></p></li>
      </ul>
    </div>
  </div>

    <!-- categoria 1 - melhor diretor -->

   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Diretor</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Daniel Kwan e Daniel Scheinert | Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
        <li><p><i>Nicolas Widing Refn | Drive</i></p></li>
        <li><p><i>Damien Chazelle  | La La Land: Cantando Estações</i></p></li>
        <li><p><i>Quentin Tarantino | Os Oitos Odiados</i></p></li>
        <li><p><i>David Fincher | Club da Luta</i></p></li>
        <li><p><i>Quentin Tarantino | Bastardos Inglorios</i></p></li>
        <li><p><i>Robert Eggers | Homem do Norte</i></p></li>
        <li><p><i>Matt Reeves | The Batman</i></p></li>
        <li><p><i>Joe e Anthony Russo | Agente Oculto</i></p></li>
        <li><p><i>Ti West | X: A Marca da Morte</i></p></li>
      </ul>
    </div>
  </div>

  <!-- categoria 1 - melhor Ator
   -->
   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Ator</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Ke Huy Quan | Waymond Wang | Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
        <li><p><i>Ryan Gosling | Motorista | Drive</i></p></li>
        <li><p><i>Ryan Gosling | Sebastian | LA LA Land: Cantando Estações</i></p></li>
        <li><p><i>Samuel L. Jackson | Major Marquis Warren | Os Oitos Odiados</i></p></li>
        <li><p><i>Kurt Russel | John Ruth | Os Oitos Odiados</i></p></li>
        <li><p><i>Christopher Abbott | Colin | Possessor</i></p></li>
        <li><p><i>Edward Norton | Narrador | Club da Luta</i></p></li>
        <li><p><i>Brad Pitt | Tyler Durden | Club da Luta</i></p></li>
        <li><p><i>Brad Pitt | Lt. Aldo Raine | Bastardos Inglorios</i></p></li>
        <li><p><i>Christoph Waltz | Col Hans Landa | Bastardos Inglorios</i></p></li>
        <li><p><i>Alexander Skarsgard | Ameleth | Homem do Norte</i></p></li>
        <li><p><i>Mason Thames | Finney | O Telefone Preto</i></p></li>
        <li><p><i>Jake Gyllenhaal | Tony Hastings/Edward Sheffield | Animais Noturnos</i></p></li>
        <li><p><i>Robert Patterson | Bruce Wayne/Batman | The Batman</i></p></li>
      </ul>
    </div>
  </div>

  <!-- Categoria 1 - melhor Atriz -->
   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Atriz</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
          <li><p><i>Michelle Yeoh | Evelyn Wang | Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
          <li><p><i>Emma Stone | Mia | La La Land: Cantando Estações</i></p></li>
          <li><p><i>Jennifer Jason Leigh | Daisy Domergue | Os Oitos Odiados</i></p></li>
          <li><p><i>Andreia Riseborough | Tasya Vos | Possessor</i></p></li>
          <li><p><i>Nicole Kidman | Rainha Gudrun | Homem do Norte</i></p></li>
          <li><p><i>Anna Diop | Aisha | A Baba</i></p></li>
          <li><p><i>Amy Adams | Susan Morrow | Animais Noturnos</i></p></li>
          <li><p><i>Zoe Kravitz | Selina Kyle/Mulher-Gato | The Batman</i></p></li>
          <li><p><i>Mia Goth | Maxine | X: A Marca da Morte</i></p></li>
          <li><p><i>Dakota Johnson | Susie | Suspiria: A Dança da Morte</i></p></li>
          <li><p><i>Emily Blunt | Rachel Watson | A Garota do Trem</i></p></li>
      </ul>
    </div>
  </div>

  <!-- Categoria 1 - melhor Ator Coadjuvante -->
   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Ator Coadjuvante</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Walton Goggings | Sheriff Chris Mannix | Os Oitos Odiados</i></p></li>
        <li><p><i>Cles Bang | Fjolnir | Homem do Norte</i></p></li>
        <li><p><i>Michael Shannon | Bobby Andes | Animais Noturnos</i></p></li>
        <li><p><i>Colin Farrel | Pinguim | The Batman</i></p></li>
      </ul>
    </div>
  </div>

  <!-- Categoria 1 - melhor Atriz Coadjuvante -->
   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Atriz Coadjuvante</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Jamie Lee Curtis | Deirdre Beauberdre | Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
        <li><p><i>Carey Mulligan | Irene | Drive</i></p></li>
        <li><p><i>Helena Bonham Carter | Marla Singer | Club Da Luta</i></p></li>
        <li><p><i>Diane Kruger | Bridget Von Hammersmark | Bastardos Inglorios</i></p></li>
        <li><p><i>Melaine Laurent | Shosanna | Bastardos Inglorios</i></p></li>
        <li><p><i>Anya Taylor-Joy | Olga | Homem do Norte</i></p></li>
        <li><p><i>Madeleine McGraw | Gwen | O Telefone Preto</i></p></li>
        <li><p><i>Tilda Swinton | Madame Blanc | Suspiria: A Dança da Morte</i></p></li>
        <li><p><i>Halley Bennett | Megan | A Garota do Trem</i></p></li>
        <li><p><i>Rebecca Ferguson | Anna | A Garota do Trem</i></p></li>
        <li><p><i>Ana de Armas | Joy | Blade Runner 2049</i></p></li>
      </ul>
    </div>
  </div>

  <!-- Categoria 1 - melhor Vilão -->
   <div class="card" style="width: 70%; margin-left: 13%; margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Indicados Melhor Vilão</h5>
      <h6 class="card-subtitle mb-2 text-muted">São Eles: </h6>
      <ul>
        <li><p><i>Stephanie Hsu | Jobu Tupaki | Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
        <li><p><i>Ethan Hawke | Sequestrador | O Telefone Preto</i></p></li>
        <li><p><i>Aaron Taylor-Johnson | Ray Marcus | Animais Noturnos</i></p></li>
        <li><p><i>Paul Dano | Charada | The Batman</i></p></li>
        <li><p><i>Chris Evans | Lloyd Hansen | Agente Oculto</i></p></li>
        <li><p><i>Mia Goth | Pearl | X: A Marca da Morte</i></p></li>
      </ul>
    </div>
  </div>
   

 
  <!-- categoria 2 -->
 
  <div class="card" style="margin-bottom: 1%; margin-left: 2%; width: 95%;">
   <div class="card-header">
    2022 - Indicados
   </div>
   <div class="card-body">
     <blockquote class="blockquote mb-0">
       <p>Categoria 2 - Generos</p>
       <footer class="blockquote-footer">
         São Elas: Filme de Suspence, Filme de Horror/Terror/Terror Psicologico,
         Melhor Drama, Melhor Animação/Computaçao Grafica, Melhor Ficção Cientifica, Melhor Ação, 
         Melhor Filme na Netflix, Filme na HBO Max, Filme no Prime Video
       </footer>
     </blockquote>
   </div>
 </div>
 

 <!-- categoria 2 - Melhor filme de suspence -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Suspence:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
      <li><p><i>O Telefone Preto</i></p></li>
      <li><p><i>A Baba</i></p></li>
      <li><p><i>Boa Noite, Mamãe</i></p></li>
      <li><p><i>X: A Marca da Morte</i></p></li>
    </ul>
  </div>
 </div>


 <!-- categoria 2 - Melhor Filme de Horror/Terror/Terror Psicologico -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Horror/Terror/Terror Psicologico:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
      <li><p><i>Possessor</i></p></li>
      <li><p><i>O Telefone Preto</i></p></li>
      <li><p><i>A Baba</i></p></li>
      <li><p><i>X: A Marca da Morte</i></p></li>
     </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor filme de Drama -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Drama:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
        <li><p><i>Club Da Luta</i></p></li>
        <li><p><i>A Garota do Trem</i></p></li>
     </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor filme de Animação/Computaçao Grafica -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Animação/Computaçao Grafica:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
        <li><p><i>Nenhum Indicado</i></p></li>
     </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor filme de Ficção Cientifica -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Ficção Cientifica:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
      <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
      <li><p><i>Homem Aranha: Sem Volta para Casa</i></p></li>
      <li><p><i>Doutor Estranho 2: No Multiverso Da Loucura</i></p></li>
      <li><p><i>Blade Runner 2049</i></p></li>
    </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor filme de Ação -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme de Ação:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
        <li><p><i>Drive</i></p></li>
        <li><p><i>Homem do Norte</i></p></li>
        <li><p><i>The Batman</i></p></li>
        <li><p><i>Agente Oculto</i></p></li>
        <li><p><i>Homem Aranha: Sem Volta para Casa</i></p></li>
     </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor Filme na Netflix -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme na Netflix:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
        <li><p><i>Agente Oculto</i></p></li>
     </ul>
   </div>
 </div>
 
 
 <!-- categoria 2 - Melhor Filme na HBO Max -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme na HBO Max:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul>
        <li><p><i>LA LA Land: Cantando Estações</i></p></li>
        <li><p><i>Possessor</i></p></li>
        <li><p><i>The Batman</i></p></li>
        <li><p><i>Blade Runner 2049</i></p></li>
     </ul>
   </div>
 </div>


 <!-- categoria 2 - Melhor Filme no Prime Video -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
   <div class="card-body">
    <h5 class="card-title">Indicados a Melhor Filme no Prime Video:</h5>
     <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
     <ul> 
        <li><p><i>Drive</i></p></li>
        <li><p><i>Os Oitos Odiados</i></p></li>
        <li><p><i>Club Da Luta</i></p></li>
        <li><p><i>Bastardos Inglorios</i></p></li>
        <li><p><i>A Baba</i></p></li>
        <li><p><i>Boa Noite, Mamãe</i></p></li>
        <li><p><i>X: A Marca da Morte</i></p></li>
        <li><p><i>A Garota do Trem</i></p></li>
     </ul>
   </div>
 </div>
 

 <!-- categoria 3  -->

 <div class="card" style="margin-bottom: 1%; margin-left: 2%; width: 95%;">
   <div class="card-header">
    2022 - Indicados
   </div>
   <div class="card-body">
     <blockquote class="blockquote mb-0">
       <p>Categoria 3 - Tecnica</p>
       <footer class="blockquote-footer">
         São Elas: Historia, Enredo, Roteiro, Edição, Edição de Som, Trilha Sonora,
         Mixagem de Som, Fotografia, Figurino, Efeitos Visuais
       </footer>
     </blockquote>
   </div>
 </div>
 
 <!-- categoria 3 - Melhor Historia -->
 <div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Historia:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i> Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>Drive</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Possessor</i></p></li>
       <li><p><i>Club Da Luta</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>O Telefone Preto</i></p></li>
       <li><p><i>Animais Noturnos</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>Agente Oculto</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>Suspiria: A Dança da Morte</i></p></li>
       <li><p><i>A Garota do Trem</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Enredo -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Enredo:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>Drive</i></p></li>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Possessor</i></p></li>
       <li><p><i>Club Da Luta</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>O Telefone Preto</i></p></li>
       <li><p><i>Animais Noturnos</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>Boa Noite, Mamãe</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>A Garota do Trem</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Roteiro -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Roteiro:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Possessor</i></p></li>
       <li><p><i>Club Da Luta</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>O Telefone Preto</i></p></li>
       <li><p><i>Agente Oculto</i></p></li>
       <li><p><i>Boa Noite, Mamãe</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>A Garota do Trem</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Edição de Som -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Edição de Som:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Possessor</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>O Telefone Preto</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>Homem Aranha: Sem Volta para Casa</i></p></li>
       <li><p><i>Doutor Estranho 2: No Multiverso Da Loucura</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>Blade Runner 2049</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Edição -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Edição:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>Drive</i></p></li>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Club Da Luta</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>Animais Noturnos</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>Homem Aranha: Sem Volta para Casa</i></p></li>
       <li><p><i>Doutor Estranho 2: No Multiverso Da Loucura</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>Suspiria: A Dança da Morte</i></p></li>
       <li><p><i>A Garota do Trem</i></p></li>
       <li><p><i>Blade Runner 2049</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Trilha Sonora -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Trilha Sonora:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Drive</i></p></li>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Animais Noturnos</i></p></li>
       <li><p><i>The Batman</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Mixagem de Som -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Mixagem de Som:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Fotografia -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Fotografia:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Drive</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>A Baba</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>Agente Oculto</i></p></li>
       <li><p><i>Blade Runner 2049</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Figurino -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Figurino:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>La La Land: Cantando Estações</i></p></li>
       <li><p><i>Os Oitos Odiados</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem do Norte</i></p></li>
       <li><p><i>O Telefone Preto</i></p></li>
       <li><p><i>The Batman</i></p></li>
       <li><p><i>X: A Marca da Morte</i></p></li>
       <li><p><i>Suspiria: A Dança da Morte</i></p></li>
    </ul>
  </div>
</div>

<!-- categoria 3 - Melhor Efeitos Visuais -->
<div class="card" style= "width: 70%; margin-left: 13%; margin-bottom: 1%;">
  <div class="card-body">
   <h5 class="card-title">Indicados a Melhor Efeitos Visuais:</h5>
    <h6 class="card-subtitle mb-2 text-muted">são Elas</h6>
    <ul>
       <li><p><i>Tudo em Todo Lugar ao Mesmo Tempo</i></p></li>
       <li><p><i>Bastardos Inglorios</i></p></li>
       <li><p><i>Homem Aranha: Sem Volta para Casa</i></p></li>
       <li><p><i>Doutor Estranho 2: No Multiverso Da Loucura</i></p></li>
       <li><p><i>Blade Runner 2049</i></p></li>
    </ul>
  </div>
</div>

{% endblock %}
{% block footer %}
<div class="container-footer">
  <h4>2022</h4>
</div>
{% endblock %}
